table, td {
  
    table-layout: fixed;
    width:100%
  }
  table{
      border: 1px solid var(--ternary-dark);
  }

  td{
      padding: 0.5rem;
      text-align : center;
  }

  tr:nth-child(even) {
    background-color: var(--ternary-color);
}