

.light-theme{
	--primary-color: #0b6875;
	--bg-color: #ededed;
	--secondary-color: #181919;
	--ternary-color: rgb(251 254 255);
	--shadow-color: rgb(176 196 208 / 40%);
	--primary-dark: rgb(71 130 123);
	--ternary-dark: rgb(201 214 213);
	--dark-blue: rgb(0, 0, 0, 0.5);
	--black: rgb(219 230 230);
	--scroll-color: #07464e;
}
.App{
	background-color: var(--bg-color);
	color: var(--secondary-color);
}

.content{
	min-height: 80vh;
}

.page-container {
	width: 70%;
	margin: 2rem auto;
}

.rules-container{
	max-width: 20rem;
	margin: 3rem auto;
}

.card-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

.card-layout .img-container img {
	height: 12rem;
	width: 100%;
	object-fit: cover;
}

.question-card {
	max-width: 40rem;
}

@media (max-width: 1024px) {
	.page-container {
		width: 90%;
		margin: 3rem auto;
	}
	.quiz-container{
		width:70%;
		margin: 2rem auto;
	
	}
}